.profileupdatemain{
    width: 100%;
    height: 100vh;
    /* background: silver; */
    
    background-image: url("/src/Components/ProfileUpdate/profilebg.png");
}


@media only screen and (max-width: 800px) {
    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }
    .profileupdatemain{
        width: 100%;
        height: 100%;
       
        
        background-image: none;
    }


}